{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Sign In{% endblock head_title %}
{% block content %}
<h1>Sign In</h1>
<p>If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}
        <div class="form-footer">
            <input type="submit" value="Sign In" class="btn btn-primary w-100">
        </div>
    </form>
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
